{% extends "index.html" %}
{% block body %}
<h1>{{name}}</h1>
<div style="display:flex; justify-content:flex-end; margin: 10">
  <form action="/students/" method="post" class="form-group">
    {% csrf_token %}
    {{ form.search }}
    <input type="submit"  class='btn btn-success' value="Search">
</form>
  
 

</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Book ID</th>
		<th>Book Name</th>
		<th>Author</th>
		<th>Publication Date</th>
		<th>Price</th>
      </tr>
    </thead>
    <tbody>
	{% for book in books %}  
      <tr>
        <td>{{book.id}}</td>
        <td>{{book.bookName}}</td>
		<td>{{book.author}}</td>
		<td>{{book.publicationDate}}</td>
		<td>{{book.price}}</td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
{% endblock %}